<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>회원 목록</h2>
<a th:href="@{/member/insertform}">회원추가</a>
<table border="1">
	<tr>
		<th>번호</th><th>이름</th><th>주소</th><th>수정</th><th>삭제</th>
	</tr>
	<tr th:each="mem:${list}">
		<td th:text="${mem.num}">num</td>
		<td th:text="${mem.name}">name</td>
		<td th:text="${mem.addr}">addr</td>
		<td>
			<a th:href="@{/member/updateform(num=${mem.num})}">수정</a>
		</td>
		<td>
			<a th:href="@{/member/delete(num=${mem.num})}">삭제</a>
		</td>
	</tr>
</table>
<br>
<a th:href="@{/employee/list}">직원목록</a>&nbsp;&nbsp;
<a th:href="@{/}">메인화면</a>
</body>
</html>