<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pack.model.DataMapInterface">
	
	<select id="selectSearch" parameterType="pack.controller.JikwonBean"
	resultType="pack.model.Jikwon">
		select * from jikwon 
		where buser_num = #{buser_num}
		and (jikwon_rating = #{jikwon_rating} or #{jikwon_rating} = '')
		order by jikwon_no asc
	</select>
	
</mapper>