<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>상품 자료 여러 개</h2>
<table border="1">
	<tr>
		<th>인덱스</th><th>아이디</th>
	</tr>
	<tr th:each="dto,status:${dtos}">
		<td th:if="${status.odd}" th:text="홀수"></td>
		<td th:unless="${status.odd}" th:text="짝수"></td>
		<td th:text="${dto.id}"></td>
		<td th:text="${dto.name}"></td>
	</tr>
</table>

<table border="1">
	<tr>
		<th>인덱스</th><th>아이디</th>
	</tr>
	<tr th:each="dto,status:${dtos}">
		<td th:switch="${status.even}">
			<span th:case=true>짝수</span>
			<span th:case=false>홀수</span>
		</td>
		<td th:text="${dto.id}"></td>
		<td th:text="${dto.name}"></td>
	</tr>
</table>

<table border="1">
	<tr>
		<th>인덱스</th><th>인덱스</th><th>인덱스</th>
	</tr>
	<tr th:each="dto,status:${dtos}">
		<td th:text="${status.index}"></td>
		<td th:text="${status.count}"></td>
		<td th:if="${status.odd}" th:text="홀수"></td>
		<td th:if="${status.even}" th:text="짝수"></td>
	</tr>
</table>
<hr>
링크 처리<br>
<a href="/thleaf/ex1">show1으로 이동</a><br>
<a th:href="@{/thleaf/ex1}">show1으로 이동</a><br>
<a th:href="@{http://www.naver.com}">naver로 이동</a><br>
<a th:href="@{/thleaf/ex4(param1='금요일',param2='반가워')}">show4로 가자</a><br>


</body>
</html>